<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>User Activity</ion-title>
  </ion-toolbar>
  <ion-progress-bar *ngIf="isLoading" color="primary" type="indeterminate" value="0.5"></ion-progress-bar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)"  slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let activity of userActivityData">

<!--      <ion-item lines="none" class="ion-activated">-->
<!--        <ion-icon class="ion-margin-end" size="small" name="person"></ion-icon>-->
<!--        <ion-label class="ion-text-capitalize" routerLink="/Dashboard/admin/ShowUserProfile/{{activity.user_id}}">{{activity.user_name}} ({{activity.user_blood_group}})</ion-label>-->
<!--      </ion-item>-->
<!--      <ion-item class="ion-activated">-->
<!--        <ion-label>-->
<!--          <ion-icon class="ion-margin-end" name="call"></ion-icon>-->
<!--          <a href="tel:{{activity.user_contact_no}}"  >{{activity.user_contact_no}}</a></ion-label>-->
<!--      </ion-item>-->

      <ion-row class="ion-margin-horizontal ion-margin-top">
        <ion-col>
          <ion-note color="dark" class="ion-margin-vertical ion-text-capitalize">
            <b> <span routerLink="/Dashboard/admin/ShowUserProfile/{{activity.user_id}}"> <ion-icon class="ion-margin-end" name="person"></ion-icon>
              {{activity.user_name}} ({{activity.user_blood_group}})</span></b>
          </ion-note>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-horizontal">
        <ion-col>
          <ion-note color="dark" class="ion-margin-vertical ion-text-capitalize">
              <span> <ion-icon class="ion-margin-end" name="call"></ion-icon> Contact - </span>
            ( <a href="tel:{{activity.user_contact_no}}"  >{{activity.user_contact_no}}</a>)
          </ion-note>
        </ion-col>
      </ion-row>
      <span class="divider line one-line">Visited to</span>
      <ion-row class="ion-margin-horizontal">
        <ion-col>
          <ion-note color="dark" class="ion-margin-vertical">
            <b>
            <span class="ion-text-capitalize" routerLink="/Dashboard/admin/ShowUserProfile/{{activity.searched_user_id}}">
              <ion-icon class="ion-margin-end" name="person"></ion-icon> {{activity.searched_user_name}} ({{activity.searched_user_blood_group}})
            </span>
            </b>
          </ion-note>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-horizontal">
        <ion-col>
          <ion-note color="dark" class="ion-margin-vertical ion-text-capitalize">
            <span> <ion-icon class="ion-margin-end" name="call"></ion-icon> Contact - </span>
            ( <a href="tel:{{activity.searched_user_contact_no}}"  >{{activity.searched_user_contact_no}}</a>)
          </ion-note>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col class="ion-margin-start">
          <ion-note color="dark" class="ion-margin-vertical ion-text-capitalize">{{activity.created_at | date:'medium'}}</ion-note>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-item *ngIf="noActivityFound" lines="none">
      <ion-label>No More User Activity Found</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="200px">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
