<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>About Our Community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  <div class="card-body">

    <div class="user-meta" *ngFor="let about of aboutUs">
      <ion-item class="ion-margin-top" lines="none">
        <ion-label color="primary" [innerHTML]="about.heading"></ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-note><h6 [innerHTML]="about.description"></h6></ion-note>
      </ion-item>
    </div>


  </div>

</ion-content>
<ion-footer>
  <ion-row class="ion-margin-top">
    <ion-item  class="ion-margin-end" lines="none">
      <ion-note>Our <a target="_blank" href="https://bd.ossoftindia.com/privacy.html">privacy policy,</a></ion-note>
    </ion-item>
    <ion-item class="ion-margin-start" lines="none">
      <ion-note>Designed by: <a target="_blank" href="https://ossoftindia.com/"><B>Os Soft India</B>,</a></ion-note>
    </ion-item>
  </ion-row>
</ion-footer>
