<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item class="brand-logo" lines="none">
      <ion-img src="assets/images/blood_help.svg"></ion-img>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button  class="ion-no-padding ion-no-margin" (click)="dismiss()">
       Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-toolbar>
    <form (ngSubmit)="updateProfile()" [formGroup]="updateProfileForm">
      <ion-list class="ion-margin-vertical">
        <ion-item-divider class="ion-margin-top">
          <ion-note>
            Update Your Profile
          </ion-note>
        </ion-item-divider>
        <ion-item lines="none" *ngIf="showError" color="primary">
          <ion-label ><b>Some error</b></ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <ion-note *ngIf="emailError" class="ion-margin-start ion-color-danger" color="red" translate>
          Email address is already taken
        </ion-note>
        <div *ngIf="updateProfileForm.controls.email.errors && updateProfileForm.controls.email.touched">
          <ion-note *ngIf="updateProfileForm.controls.email.errors?.email" class="ion-margin-start ion-color-danger" color="red" translate>
            Enter Valid Email Address
          </ion-note>
        </div>
        <ion-item>
          <ion-label>Blood Group</ion-label>
          <ion-select interface="action-sheet" formControlName="blood_group_id" placeholder="Select One">
            <ion-select-option value="1">O-</ion-select-option>
            <ion-select-option value="2">O+</ion-select-option>
            <ion-select-option value="3">B-</ion-select-option>
            <ion-select-option value="4">B+</ion-select-option>
            <ion-select-option value="5">A-</ion-select-option>
            <ion-select-option value="6">A+</ion-select-option>
            <ion-select-option value="7">AB-</ion-select-option>
            <ion-select-option value="8">AB+</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contact Number</ion-label>
          <ion-input formControlName="contact_no" placeholder="Enter Your Mobile Number" type="text"></ion-input>
        </ion-item>
        <ion-note *ngIf="contactNoError" class="ion-margin-start ion-color-danger" color="red" translate>
          Mobile Number is already Registered
        </ion-note>
        <div *ngIf="updateProfileForm.controls.contact_no.errors && updateProfileForm.controls.contact_no.touched">
          <ion-note *ngIf="updateProfileForm.controls.contact_no.errors?.pattern" class="ion-margin-start ion-color-danger" color="red" translate>
            Enter Valid Mobile Number
          </ion-note>
        </div>
        <ion-item>
          <ion-label position="floating">Date Of Birth</ion-label>
          <ion-input formControlName="dob" placeholder="Select Date Of Birth" type="date"></ion-input>
        </ion-item>
        <ion-note *ngIf="dobError" class="ion-margin-start ion-color-danger" color="red" translate>
          The Date of birth must be a date before today
        </ion-note>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input formControlName="address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">City</ion-label>
          <ion-input formControlName="city"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Pin Code</ion-label>
          <ion-input formControlName="pin_code" ></ion-input>
        </ion-item>
      </ion-list>
      <ion-row class="ion-justify-content-center">
        <ion-button [disabled]="!updateProfileForm.valid" type="submit">Update</ion-button>
      </ion-row>
    </form>
  </ion-toolbar>

</ion-content>
