<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-progress-bar *ngIf="isLoading" color="primary" type="indeterminate" value="0.5"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-row class="mt-25 ion-justify-content-center">

    <ion-item lines="none">
      <ion-img src="assets/images/blood_help.svg"></ion-img>
    </ion-item>
  </ion-row>
  <ion-item class="ion-margin-top" lines="none">
    <ion-label color="primary"><b>Login to your Account</b></ion-label>
  </ion-item>
  <ion-item *ngIf="showError" color="primary">
    <ion-label ><b>Invalid Credentials</b></ion-label>
  </ion-item>
  <form (ngSubmit)="doLogin()" [formGroup]="loginForm">

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input formControlName="contact_no"></ion-input>
    </ion-item>

    <div *ngIf="loginForm.controls.contact_no.errors && loginForm.controls.contact_no.touched">
      <ion-note *ngIf="loginForm.controls.contact_no.errors?.pattern" class="ion-margin-start ion-color-danger" color="red" translate>
        Enter Valid Mobile Number
      </ion-note>
    </div>
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password"></ion-input>
        <div *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched">
          <ion-note *ngIf="loginForm.controls.password.errors?.minlength" class="ion-margin-start ion-color-danger" color="red" translate>
            Password must be at least 6 characters
          </ion-note>
        </div>
      </ion-item>
      <ion-row class="ion-justify-content-center ion-margin-vertical">
        <ion-col>
          <ion-button [disabled]="!loginForm.valid || isLoading"  expand="full" type="submit">Login</ion-button>
        </ion-col>
      </ion-row>
  </form>

  <span class="divider line one-line">Forgot Password?</span>

  <ion-row class="ion-margin-vertical ion-justify-content-center">
    <ion-col class="ion-margin-horizontal">
      <ion-button routerLink="/Public/VerifyUser" expand="block" color="dark" fill="outline">
        <ion-icon slot="icon-only"  class="ion-margin-end" name="refresh-circle"></ion-icon>
        Reset Password
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>



