<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateProfileModel()"><ion-icon name="create"></ion-icon>Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar *ngIf="isLoading" color="primary" type="indeterminate" value="0.5"></ion-progress-bar>
</ion-header>
<ion-content>
  <ion-item-divider color="light">
    <ion-item color="light" class="ion-no-margin ion-no-padding" lines="none">

      <ion-avatar class="ion-margin-vertical ion-margin-horizontal">
        <ion-img src="assets/images/user.png"></ion-img>
      </ion-avatar>
      <ion-note class="ion-margin-vertical ion-text-capitalize">
        <h4>{{user.name}}</h4>
      </ion-note>

    </ion-item>
  </ion-item-divider>
  <ion-item>
    <ion-label>
      <ion-note color="dark"> <ion-icon color="dark" class="ion-margin-horizontal" name="call"></ion-icon> {{user.contact_no}}</ion-note>
    </ion-label>
  </ion-item>
  <ion-item  *ngIf="user.email">
    <ion-label>
      <ion-note color="dark"> <ion-icon color="dark" class="ion-margin-horizontal" name="mail"></ion-icon> {{user.email}}</ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-note class="ion-text-capitalize"> <ion-icon color="primary" class="ion-margin-horizontal" name="water"></ion-icon> {{user.blood_group}}</ion-note>
    </ion-label>
  </ion-item>
  <ion-item  *ngIf="user.dob">
    <ion-label>
      <ion-note color="dark" class="ion-text-capitalize"> <ion-icon color="warning" class="ion-margin-horizontal" name="calendar"></ion-icon> {{user.dob | date:'mediumDate'}}</ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-note color="dark" class="ion-text-capitalize"> <ion-icon color="tertiary" class="ion-margin-horizontal" name="map"></ion-icon> {{user.address}}</ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-note color="dark" class="ion-text-capitalize"> <ion-icon class="ion-margin-horizontal" name="locate"></ion-icon> {{user.city}}</ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-note color="dark" class="ion-text-capitalize"> <ion-icon class="ion-margin-horizontal" name="pin"></ion-icon> {{user.pin_code}}</ion-note>
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-card>
      <ion-item lines="none"><ion-toggle [(ngModel)]="donorStatus.is_donor" checked="{{donorStatus.is_donor}}" slot="end" (click)="donorConfirmMessage($event)" color="primary"></ion-toggle><ion-icon class="ion-margin-end" name="accessibility"></ion-icon>Available To Donate</ion-item>
    </ion-card>
    <ion-card *ngIf="isAdmin" >
      <ion-item routerLink="/Dashboard/admin" lines="none"><ion-icon class="ion-margin-end" name="people"></ion-icon>User Activity</ion-item>
    </ion-card>
    <ion-card>
      <ion-item (click)="changePasswordModel()" lines="none"><ion-icon class="ion-margin-end" name="key"></ion-icon>Change Password</ion-item>
    </ion-card>
    <ion-card color="primary">
      <ion-item color="primary" lines="none" (click)="doLogout()"><ion-icon class="ion-margin-end" name="log-out"></ion-icon> Logout </ion-item>
    </ion-card>
  </ion-list>

</ion-content>
