<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button  class="ion-no-padding ion-no-margin" (click)="dismiss()">
        <ion-icon class="ion-text-xl-capitalize" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="cover-background" color="light">

  </ion-toolbar>
  <ion-item-divider color="light">
    <ion-item color="light" class="ion-no-margin ion-no-padding" lines="none">

      <ion-avatar class="ion-margin-vertical ion-margin-horizontal">
        <ion-img src="assets/images/user.png"></ion-img>
      </ion-avatar>
      <ion-note class="ion-margin-vertical ion-text-capitalize">
        <h4>{{user.name}}</h4>
      </ion-note>

    </ion-item>
  </ion-item-divider>
  <ion-item>
    <ion-label>
      <ion-note color="dark"> <ion-icon color="dark" class="ion-margin-horizontal" name="call"></ion-icon> Contact - {{user.contact_no}}</ion-note>
    </ion-label>
    <a class="ion-padding button-native call-button" href="tel:{{user.contact_no}}">Call</a>
  </ion-item>
  <ion-item *ngIf="user.email">
    <ion-label>
      <ion-note color="dark"> <ion-icon color="dark" class="ion-margin-horizontal" name="mail"></ion-icon> Email - {{user.email}}</ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-note color="dark" class="ion-text-capitalize"> <ion-icon color="primary" class="ion-margin-horizontal" name="water"></ion-icon> Blood Group - {{user.blood_group}}</ion-note>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="user.dob">
    <ion-label >
      <ion-note color="dark" class="ion-text-capitalize"> <ion-icon color="warning" class="ion-margin-horizontal" name="calendar"></ion-icon> Age - {{ user.dob}}</ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-note color="dark" class="ion-text-capitalize"> <ion-icon color="tertiary" class="ion-margin-horizontal" name="map"></ion-icon> Address - {{user.address}}</ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-note color="dark" class="ion-text-capitalize"> <ion-icon class="ion-margin-horizontal" name="locate"></ion-icon> City - {{user.city}}</ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-note color="dark" class="ion-text-capitalize"> <ion-icon class="ion-margin-horizontal" name="pin"></ion-icon> Pincode - {{user.pin_code}}</ion-note>
    </ion-label>
  </ion-item>
<!--  <ion-row *ngIf="!viewContact" class="ion-justify-content-center">-->
<!--    <ion-col size="12">-->
<!--      <ion-button (click)="viewContactNo()" expand="full">View Contact Details</ion-button>-->
<!--    </ion-col>-->
<!--  </ion-row>-->

</ion-content>
