<ion-header>
  <ion-toolbar slot="top" >
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="assets/images/blood_help.svg"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>
