:root {
  --ion-color-primary: #E94264;
  --ion-color-primary-rgb: 233,66,100;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #cd3a58;
  --ion-color-primary-tint: #eb5574;
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.login-slides-height{
  height: 60%;
}

.mt-35{
  margin-top: 35%;
}

.mt-25{
  margin-top: 25%;
}

.brand-logo ion-img{
  height: 50px;
}

.search-donor ion-img{
  height: 150px;
}

.small-modal .modal-wrapper{
    position: absolute;
    bottom: 0;
    min-height: initial;
    top: initial;
    height: 50%;
}

.call-button {
  background-color: #E94264;
  color: white;
  text-decoration: none;
}

