<ion-content class="main-view">

  <ion-item lines="none">
    <ion-label>Select Blood Group To Search Donor</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="3" size-sm>
        <ion-button size="small"  expand="full" (click)="setBloodGroupId(6)">A+</ion-button>
      </ion-col>
      <ion-col size="3" size-sm>
        <ion-button size="small" expand="full" (click)="setBloodGroupId(5)">A-</ion-button>
      </ion-col>
      <ion-col size="3" size-sm>
        <ion-button size="small" expand="full" (click)="setBloodGroupId(4)">B+</ion-button>

      </ion-col>
      <ion-col size="3" size-sm>
        <ion-button size="small" expand="full" (click)="setBloodGroupId(3)">B-</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" size-sm>
        <ion-button size="small"  expand="full" (click)="setBloodGroupId(8)">AB+</ion-button>
      </ion-col>
      <ion-col size="3" size-sm>
        <ion-button size="small" expand="full" (click)="setBloodGroupId(7)">AB-</ion-button>
      </ion-col>
      <ion-col size="3" size-sm>
        <ion-button size="small"  expand="full" (click)="setBloodGroupId(2)">O+</ion-button>
      </ion-col>
      <ion-col size="3" size-sm>
        <ion-button size="small" expand="full" (click)="setBloodGroupId(1)">O-</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-item lines="none" class="search-donor">
      <ion-img  src="assets/images/search_donor.svg"></ion-img>
    </ion-item>
  </ion-row>

</ion-content>
