<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-row class="mt-25 ion-justify-content-center">

    <ion-item lines="none">
      <ion-img src="assets/images/blood_help.svg"></ion-img>
    </ion-item>
  </ion-row>
  <ion-item class="ion-margin-top" lines="none">
    <ion-label color="primary"><b>Reset Password</b></ion-label>
  </ion-item>
  <ion-item lines="none" *ngIf="showError" color="primary">
    <ion-label ><b>Some error</b></ion-label>
  </ion-item>
  <ion-item lines="none" *ngIf="resetPasswordSuccess">
    <ion-label color="success" ><b>Password Changed Successfully</b></ion-label>
  </ion-item>
  <form (ngSubmit)="resetUserPassword()" [formGroup]="resetPassword">

    <ion-item class="ion-margin-top">
      <ion-label position="floating">New Password</ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="resetPassword.controls.password.errors && resetPassword.controls.password.touched">
      <ion-note *ngIf="resetPassword.controls.password.errors?.minlength" class="ion-margin-start ion-color-danger" color="red" translate>
        Password must be at least 6 characters
      </ion-note>
    </div>
    <ion-item class="ion-margin-top">
      <ion-label position="floating">Confirm New Password</ion-label>
      <ion-input formControlName="confirm_password"></ion-input>
    </ion-item>
    <ion-note *ngIf="confirmPasswordInvalid" class="ion-margin-start ion-color-danger" color="red" translate>
      The confirm password must equals to new password
    </ion-note>
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-col>
        <ion-button [disabled]="!resetPassword.valid"  expand="full" type="submit">Reset</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>



