<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-progress-bar *ngIf="isLoading" color="primary" type="indeterminate" value="0.5"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-row class="mt-25 ion-justify-content-center">

    <ion-item lines="none">
      <ion-img src="assets/images/blood_help.svg"></ion-img>
    </ion-item>
  </ion-row>

  <ion-item class="ion-margin-top" lines="none">
    <ion-label color="primary"><b>Register to Blood Help App</b></ion-label>
  </ion-item>
  <ion-item lines="none" *ngIf="showError" color="primary">
    <ion-label ><b>Some error</b></ion-label>
  </ion-item>
  <form (ngSubmit)="doRegister()" [formGroup]="registerForm">

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input formControlName="contact_no"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.controls.contact_no.errors && registerForm.controls.contact_no.touched">
      <ion-note *ngIf="registerForm.controls.contact_no.errors?.pattern" class="ion-margin-start ion-color-danger" color="red" translate>
        Enter Valid Mobile Number
      </ion-note>
    </div>
    <ion-note *ngIf="contact_no_error" class="ion-margin-start ion-color-danger" color="red" translate>
      Mobile Number is already Registered
    </ion-note>
    <ion-item class="ion-margin-top">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>

    <div *ngIf="registerForm.controls.password.errors && registerForm.controls.password.touched">
      <ion-note *ngIf="registerForm.controls.password.errors?.minlength" class="ion-margin-start ion-color-danger" color="red" translate>
        Password must be at least 6 characters
      </ion-note>
    </div>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button [disabled]="!registerForm.valid || isLoading" class="ion-margin-top " expand="full" color="primary" size="medium" type="submit">Register</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>



