<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  class="ion-no-padding ion-no-margin" (click)="dismiss()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-row class="mt-25 ion-justify-content-center">

    <ion-item lines="none">
      <ion-img src="assets/images/blood_help.svg"></ion-img>
    </ion-item>
  </ion-row>
  <ion-item class="ion-margin-top" lines="none">
    <ion-label color="primary"><b>Change Password</b></ion-label>
  </ion-item>
  <ion-item lines="none" *ngIf="showError">
    <ion-label color="danger" ><b>Some Error</b></ion-label>
  </ion-item>
  <ion-item lines="none" *ngIf="changePasswordSuccess">
    <ion-label color="success" ><b>Password Changed Successfully</b></ion-label>
  </ion-item>
  <form (ngSubmit)="doChangePassword()" [formGroup]="changePassword">

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Current Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="changePassword.controls.password.errors && changePassword.controls.password.touched">
      <ion-note *ngIf="changePassword.controls.password.errors?.minlength" class="ion-margin-start ion-color-danger" color="red" translate>
        Password must be at least 6 characters
      </ion-note>
    </div>
    <ion-note *ngIf="currentPasswordError" class="ion-margin-start ion-color-danger" color="red" translate>
      Enter Valid Current Password
    </ion-note>

    <ion-item class="ion-margin-top">
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password"  formControlName="new_password"></ion-input>
    </ion-item>
    <div *ngIf="changePassword.controls.password.errors && changePassword.controls.password.touched">
      <ion-note *ngIf="changePassword.controls.password.errors?.minlength" class="ion-margin-start ion-color-danger" color="red" translate>
        Password must be at least 6 characters
      </ion-note>
    </div>
    <ion-note *ngIf="!currentPasswordError && newPasswordError" class="ion-margin-start ion-color-danger" color="red" translate>
      New Password should not be same as old password
    </ion-note>
    <ion-item class="ion-margin-top">
      <ion-label position="floating">Confirm New Password</ion-label>
      <ion-input type="password"  formControlName="confirm_new_password"></ion-input>
    </ion-item>
    <ion-note *ngIf="!currentPasswordError &&  confirmPasswordInvalid" class="ion-margin-start ion-color-danger" color="red" translate>
      The confirm password must equals to new password
    </ion-note>
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-col>
        <ion-button [disabled]="!changePassword.valid"  expand="full" type="submit">Reset</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>



