


<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home-page">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="UserProfile" >
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="about-us" >
      <ion-icon name="information-circle"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
