<ion-content [fullscreen]="true" >

  <ion-item  class="login-slides-height" lines='none'>
    <ion-img src="assets/images/login_slide_1.svg"></ion-img>
  </ion-item>

  <ion-row class="ion-margin-vertical ion-justify-content-center">
    <ion-col class="ion-margin-horizontal">
      <ion-button routerLink="/Public/Register" expand="block" color="dark" fill="outline">
        <ion-icon slot="icon-only"  class="ion-margin-end" name="log-in"></ion-icon>
        Register
      </ion-button>
    </ion-col>
  </ion-row>


  <span class="divider line one-line">or</span>
  <span class="already">Already a user?</span>

  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-margin-horizontal">
      <ion-button routerLink="/Public/Login" expand="full">
        <ion-icon slot="icon-only"  class="ion-margin-end" name="finger-print"></ion-icon>
        Login
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
