<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-row class="mt-25 ion-justify-content-center">
    <ion-item lines="none">
      <ion-img src="assets/images/blood_help.svg"></ion-img>
    </ion-item>
  </ion-row>

  <ion-item class="ion-margin-top" lines="none">
    <ion-label color="primary"><b>Verify our account Details</b></ion-label>
  </ion-item>

  <ion-item *ngIf="showError" color="primary">
    <ion-label ><b>Invalid Details</b></ion-label>
  </ion-item>
  <form (ngSubmit)="verifyUserDetails()" [formGroup]="verifyUser">

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input formControlName="contact_no"></ion-input>
    </ion-item>
    <div *ngIf="verifyUser.controls.contact_no.errors && verifyUser.controls.contact_no.touched">
      <ion-note *ngIf="verifyUser.controls.contact_no.errors?.pattern" class="ion-margin-start ion-color-danger" color="red" translate>
        Enter Valid Mobile Number
      </ion-note>
    </div>
    <ion-note *ngIf="contactNoError" class="ion-margin-start ion-color-danger" color="red" translate>
      Mobile number is not registered
    </ion-note>
    <ion-item class="ion-margin-top">
      <ion-label position="floating">Date Of Birth</ion-label>
      <ion-input type="date" formControlName="dob" placeholder="Select Date of Birth"></ion-input>
    </ion-item>
    <ion-note *ngIf="dobError" class="ion-margin-start ion-color-danger" color="red" translate>
      The Date of birth must be a date before today
    </ion-note>
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-col>
        <ion-button [disabled]="!verifyUser.valid"  expand="full" type="submit">Verify</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>



