
<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-item class="brand-logo" lines="none">
      <ion-img src="assets/images/blood_help.svg"></ion-img>
    </ion-item>

    <ion-icon (click)="presentModal()" size="large" class="ion-margin" name="search" slot="end"></ion-icon>

  </ion-toolbar>

  <ion-progress-bar *ngIf="isLoading" color="primary" type="indeterminate" value="0.5"></ion-progress-bar>
</ion-header>
<ion-content>
  <ion-refresher *ngIf="!filter" (ionRefresh)="doRefresh($event)"  slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <ion-item lines="none" *ngIf="filter">
    <ion-note class="ion-margin-top"><b>Showing Result For All Relative Blood Group</b></ion-note>
    <ion-button class="ion-margin-horizontal" size="small" color="primary" expand="full" (click)="addMoreUsers(1,false)">View All Users</ion-button>
  </ion-item>
  <ion-list>
    <ion-card *ngFor="let user of userData">

      <ion-item class="ion-activated" (click)="userProfileModel(user.id)" >
        <ion-avatar class="ion-margin-end">
          <ion-img src="assets/images/user.png"></ion-img>
        </ion-avatar>
        <ion-label>{{user.name}}</ion-label>
        <ion-label class="ion-text-uppercase" slot="end">
          <ion-icon color="primary ion-margin-end" name="water"></ion-icon>
          {{user.blood_group}}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon size="small" name="location" slot="start"></ion-icon>
        <ion-label color="dark" class="ion-margin-vertical ion-text-capitalize"><b>{{user.address}},{{user.city}} {{user.pin_code}}</b></ion-label>
      </ion-item>
    </ion-card>
    <ion-item *ngIf="noUserFound" lines="none">
<!--      <ion-img class="mt-25" src="assets/images/no_user_found_for_blood_group.svg"></ion-img>-->
      <ion-label>No More User Found</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll *ngIf="!filter" (ionInfinite)="loadData($event)" threshold="200px">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-infinite-scroll *ngIf="filter" (ionInfinite)="loadDataOfBloodGroup($event)" threshold="200px">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

